body {
    background-image: url(L4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    color: red;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    margin: 2rem 0;
}

#home {
    background: url('lodge.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5rem 0;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

h1, h2 {
    margin: 0;
    padding-bottom: 1rem;
}

ul {
    padding-left: 1.5rem;
}

p {
    margin: 0.5rem 0;
} We